.chat {
    position: relative;
    align-items: center;
}

.choice-box {
    background-color: pink;
    padding: 20px;
    margin: 10px;
    height: fit-content;
    border: outset;
    border-radius: 20px;
    border-width: 5px;
    border-color: palevioletred;
    align-self: center;
    text-align: center;
    font-size: 20px;
}

.choice-box:hover {
    cursor: pointer;
    border-color: rgb(0, 217, 255);
    box-shadow: 5px 5px 5px rgb(1, 103, 111);
    color: rgb(0, 133, 157);
    font-size: 25px;
}

.dawn-sprite{
    height: 500px;
    width: 400px;
    margin-bottom: -60px;
}
.fit-sprite {
    justify-content: center;
}
.text-box {
        background-color: pink;
        /* width: 900px; */
        padding: 20px;
        margin: 10px;
        height: fit-content;
        border: outset;
        border-radius: 25px;
        border-width: 5px;
        border-color: palevioletred;
        align-self: center;
        text-align: center;
        font-size: 20px;
}

.text-box:hover {
    cursor: pointer;
}

.speaker-box {
    background-color: pink;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: -10px;
    height: fit-content;
    width: 70px;
    border: outset;
    border-radius: 15px;
    border-width: 5px;
    border-color: palevioletred;
    font-size: 20px;
}