.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: lightpink;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Select-box {
  /* height: 15rem;
  width: 15rem; */
  background-color: rgb(251, 161, 206);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  float: right;
  padding: 1rem;
  margin: 10px;
  text-align: center;
  border: outset;
  border-width: 10px;
  border-color: rgb(254, 207, 224);
}

.menu-title {
  font-size: 30px;
  background-color: rgb(255, 236, 242);
  width: min-content;
  align-self: center;
}
/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
