.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: lightpink;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Select-box {
  background-color: rgb(251, 161, 206);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  float: right;
  padding: 1rem;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  border: outset;
  border-width: 10px;
  border-color: rgb(254, 207, 224);
}

.Select-options {
  background-color: rgb(255, 193, 216);
  border: outset;
  border-width: 10px;
  border-color:rgb(254, 207, 241);
  display: flex;
  align-items: center;
  padding: 1rem; 
  margin: 0.5rem;
  color: black;
  text-align: center;
}

.Select-options:hover {
  border-color: rgb(255, 16, 92);
  color: rgb(255, 16, 92);
  font-style: italic;
}


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
